<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCTz5vB_ICh_NGSkqFLE-5crdkcamu2rxI</string>
	<key>GCM_SENDER_ID</key>
	<string>69399701749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.proyectoSm</string>
	<key>PROJECT_ID</key>
	<string>flutter-reservatech</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-reservatech.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69399701749:ios:63e2f9fea00d2c225b3dbc</string>
</dict>
</plist>